.menu-container {
	width: 90%;
	margin: 0 auto;
}


.menu-section-title {
	margin: 20px 30vw 2vh 30vw;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	border-top: 1px  silver solid;
	border-bottom: 1px silver solid;

}

.m-s-t-1 {
	margin-top: 4vh;
	padding-top: 1vh;
}

#m-i-t-1 {
	padding-top: -2vh;

}
 .menu-item,
 .menu-item-name,
 .menu-item-description,
 .menu-item-price {
 	width: 100%;
 	padding-top: 1vh;
 	text-align: center;
 }

 .menu-item-name,
 .menu-item-description,
 .menu-item-price,
 .wine-name,
 .glass-price,
 .half-liter-price,
 .liter-price {
 	padding-top: 10px;
 }


