@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700|Port+Lligat+Sans|Port+Lligat+Slab');

html, body {
    margin: 0;
    font-family: "Josefin Slab";
    box-sizing: border-box;
    background-color: rgba(214, 153, 81, .2);
}

.home-bg {
    background-color: black;
    background-image: linear-gradient(rgba(47, 70, 79, .85), rgba(47, 70, 79, .75)), url(../images/bg.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    min-height: 80px;
    width: 100%;
    background-color: rgba(47, 70, 79, .95);
}


.photo-container {
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(rgba(47, 70, 79, .55), rgba(47, 70, 79, .55)), url('../images/bar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.photo-container h1 {
    font-family: 'Port Lligat Slab';
    color: rgba(214, 153, 81, 1);
    font-size: 8rem;
    text-align: center;
    padding: 6vh 0 6vh 0;
    text-shadow: 4px 3px 1px rgba(7, 70, 79, .55);
}



nav.menu{
    width: 42px;
    height: 42px;
    float: right;
    margin: 20px 30px 0 0;
    position: relative;
    z-index: 999;
    cursor: pointer;
}
nav.menu div.strokes {
    width: 100%;
    height: 6px;
    margin: 0 0 6px 0;
    background: rgba(218, 219, 222, 0.67);
    transition:  transform 0.3s, opacity 0.1s;
}
.hide{
    opacity: 0;
    transform:  translateX(-42px);
}

.animate0{
    transform: rotate(45deg) translateY(17px);
  
}

.animate2{
    transform: rotate(-45deg) translateY(-17px);
   
}

.fullscreenmenu{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: fixed;
    overflow: hidden;
    -webkit-transition: background 0.5s ease-in-out, opacity 0.5s;
    -moz-transition: background 0.5s ease-in-out, opacity 0.5s;
    -ms-transition: background 0.5s ease-in-out, opacity 0.5s;
    -o-transition: background 0.5s ease-in-out, opacity 0.5s;
    transition: background 0.5s ease-in-out, opacity 0.5s;
    text-align: center;
    
}

.fullscreenmenu.show{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    overflow: hidden;
    visibility: visible;
    background-color: rgba(47, 70, 79, .97);
    -webkit-transition: background 0.15s ease-in-out, visibility 0.25s;
    -moz-transition: background 0.15s ease-in-out, visibility 0.25s;
    -ms-transition: background 0.15s ease-in-out, visibility 0.25s;
    -o-transition: background 0.15s ease-in-out, visibility 0.25s;
    transition: background 0.15s ease-in-out, visibility 0.25s;
    
}

.fullscreenmenu ul {
    padding-top: 25%; 
}

.fullscreenmenu li a{
    color: #d69951;
    font-family: 'Josefin Slab', serif;
    font-size: 3.5rem;   
    text-decoration: none;
    font-weight: 100;
    text-transform: lowercase;
    line-height: 7rem;
}


.fullscreenmenu li a:hover {
    color: rgba(218, 219, 222, 0.9);
}
 

hr.top{
    width: 80%;
    margin: 5px auto 0;
    border-color: rgba(218, 219, 222, 0.25);
}

hr.btm{
    width: 80%;
    margin: 5px auto 0;
    border-color: rgba(218, 219, 222, 0.25);
}

.social-icons, .social-icons a {
    color: rgba(218, 219, 222, 0.9);
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: none;
}

.social-icons a:hover {
     color: #d69951;
}

.fa {
   margin: 0 auto;
   padding: 0 25px 0 25px;
}

.backgroundcontent {
    height: 100vh;
    overflow: hidden;
}




/*------------------------
--------------------------
--------MENU STYLES-------
--------------------------
------------------------*/

.menu-item-name{
    font-weight: 600;
    font-size: 1.25rem;
}

.menu-container {
    width: 90%;
    margin: 0 auto;
}

.menu-section-title {
    font-size: 2rem;
    font-family: 'Port Lligat Slab', sans-serif;
    margin: 2vh 30vw 2.5vh 30vw;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-top: 1px  silver solid;
    border-bottom: 1px silver solid;
}

.menu-section-title-1 {
    font-size: 2rem;
    font-family: 'Port Lligat Slab', sans-serif;
    margin: 2vh 30vw 1vh 30vw;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-top: 1px  silver solid;
    border-bottom: 1px silver solid;
}


 .menu-item,
 .menu-item-name,
 .menu-item-description,
 .menu-item-price {
    width: 100%;
    padding-top: 1vh;
    text-align: center;
 }

 .menu-item-name,
 .menu-item-description,
 .menu-item-price {
    padding-top: 10px;
 }

 .menu-item-kali{
    font-weight: 600;
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
 }

.kali-description {
    line-height: 1.5;
}

.wine-title,
.glass-title,
.half-liter-title,
.liter-title,
.beer-title,
.beer-glass-title,
.beer-liter-title {
    font-weight: 700;
}

/*----------------
------------------
--- WINE GRID ----
------------------
-----------------*/

.white-wine {
    display: grid;
    grid-template-columns: 60vw 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 3vh;
    padding-bottom: 5vh;
}

.red-wine {
    display: grid;
    grid-template-columns: 60vw 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 3vh;
    padding-bottom: 5vh;
}

.rosado-wine {
    display: grid;
    grid-template-columns: 60vw 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 3vh;
    padding-bottom: 2vh;
}


/*----------------
------------------
--- BEER GRID ----
------------------
-----------------*/

.beers {
    display: grid;
    grid-template-columns: 65vw 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 3vh;
    padding-bottom: 5vh;
}



